@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --default-font: "Poppins", sans-serif;
    --accent-color: #ff6200;
    --background-color: #212121;
    --neutral-text-color: #b4b4b4;
    --neutral-border-color: #383838;
    --contrasting-text-color: #ffffff;
    --plyr-color-main: #ff6200 !important;
}

body {
    font-family: var(--default-font);
    background-color: var(--background-color);
    color: var(--neutral-text-color);
}

body * {
    padding: 0;
    margin: 0;
}

p {
    display: flex;
    gap: 0.2em;
    align-items: center;
}

#videoDescription {
    display: inline;
}

.video-description-box {
    margin-top: 0.75em;
    border: 0.1em solid var(--neutral-border-color);
    padding: 1em;
    border-radius: 0.75em;
}

#videoDescription a {
    color: var(--accent-color);
}

#videoDescription {
    word-wrap: break-word;
}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    padding-left: 8em;
    padding-right: 8em;
    height: 4em;
    margin-bottom: 0.75em;
}

.header-section-center {
    position: absolute;
    top: 1.5em;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 60em) {
    .search-box {
        height: 2.5em;
        width: 2em;
    }

    .search-button {
        height: 3.5em;
    }

    .header-section-center {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
    }

    .top-nav {
        padding-left: 2em;
        padding-right: 2em;
        margin-top: 1em;
        margin-bottom: 5em;
    }

    .credit {
        display: none;
    }

    .header-section-right {
        position: absolute;
        top: 1.5em;
        right: 2em;
    }

    .video-column {
        margin: 0 !important;
    }

    .video-container {
        border-radius: 0 !important;
    }

    .under-video-box {
        margin: 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .plyr__volume {
        display: none !important;
    }

    .under-video-box .video-info {
        font-size: 0.8em !important;
    }
}

.header-section-left,
.header-section-center,
.header-section-right {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.header-section-right svg {
    transform: translateY(0.125em);
    transform-origin: center;
    transition: transform 0.3s;
}

.header-section-right svg:hover {
    transform: rotate(45deg) translateY(0.125em);
    transition: transform 0.3s;
}

.search-box {
    font: inherit;
    border: 0.1em solid var(--neutral-border-color);
    padding: 0.5em;
    border-radius: 0.5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 20em;
    max-width: 100%;
    background-color: transparent;
    color: var(--contrasting-text-color);
    transition: border-color 0.1s;
}

.search-box:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color 0.1s;
}

.search-button {
    font: inherit;
    border: 0.1em solid var(--accent-color);
    padding: 0.5em;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    color: var(--contrasting-text-color);
    transition:
        background-color 0.3s,
        filter 0.3s;
}

.search-button:hover {
    background-color: var(--accent-color);
    transition:
        background-color 0.3s,
        filter 0.3s;
}

.search-button:active {
    filter: brightness(0.8);
    transition:
        filter 0.3s,
        background-color 0.3s;
}

.no-link {
    color: inherit;
    text-decoration: none;
}

.some-link {
    color: var(--accent-color);
}

.videos,
.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.video-thumbnail {
    width: 25em;
    border-radius: 0.75em;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.video-title {
    white-space: normal;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.video-column {
    margin-left: 3em;
    width: 60em;
    max-width: 100%;
}

.video-container {
    overflow: hidden;
    border-radius: 1em;
    margin-bottom: 0.75em;
}

.video-info {
    display: flex;
    gap: 0.35em;
    margin-bottom: 0.5em;
}

.video-column .video-info {
    justify-content: space-between;
}

.settings {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.setting {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.setting input[type="text"] {
    border: 0.1em solid var(--neutral-border-color);
    border-radius: 0.5em;
    padding: 0.5em;
    color: var(--contrasting-text-color);
    background-color: var(--background-color);
}

.setting input[type="text"]:focus {
    outline: none;
    border-color: var(--accent-color);
}

.error {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.channel-info-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    transition: color 0.3s;
}

.channel-info-box:hover {
    color: var(--accent-color);
    transition: color 0.3s;
}

.channel-name {
    font-size: 0.9em;
}

.channel-info-box .channel-logo {
    width: 2.75em;
    height: 2.75em;
    border-radius: 100%;
}

.video-description-box-header {
    display: flex;
    gap: 0.5em;
    font-weight: bold;
}

.video-interactions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.watch-video-title {
    font-size: 1.5em;
    font-weight: bold;
}

.watch-page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.recommended-videos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}
