@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --default-font: "Poppins", sans-serif;
    --accent-color: #ff6200;
    --background-color: #212121;
    --neutral-text-color: #b4b4b4;
    --neutral-border-color: #383838;
    --contrasting-text-color: #ffffff;
}

body {
    font-family: var(--default-font);
    background-color: var(--background-color);
    color: var(--neutral-text-color);
}

body * {
    padding: 0;
    margin: 0;
}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
}

.search-box {
    border: 0.025em solid var(--neutral-border-color);
    padding: 0.5em;
    border-radius: 0.5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 20em;
    max-width: 100%;
    background-color: transparent;
    color: var(--contrasting-text-color);
}

.search-box:focus {
    outline: none;
    border-color: var(--accent-color);
}

.search-button {
    border: 0.025em solid var(--accent-color);
    padding: 0.5em;
    border-radius: 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    color: var(--contrasting-text-color);
    transition:
        background-color 0.3s,
        filter 0.3s;
}

.search-button:hover {
    background-color: var(--accent-color);
    transition:
        background-color 0.3s,
        filter 0.3s;
}

.search-button:active {
    filter: brightness(0.8);
    transition:
        filter 0.3s,
        background-color 0.3s;
}

.no-link {
    color: inherit;
    text-decoration: none;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.video-thumbnail {
    width: 25em;
    border-radius: 0.75em;
}

.video-title {
    white-space: normal;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5em;
}

video {
    width: 80em;
    max-width: 100%;
    border-radius: 0.75em;
}

.video-info {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    font-size: 0.9em;
}
