<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
<div class="top-nav">
    <div class="header-section-left">
        <h1><a class="no-link" href="/">{{ branding_name }}</a></h1>
        <a class="no-link" href="/popular">popular</a>
        <a class="no-link" href="/trending">trending</a>
    </div>
    <div class="header-section-center">
        <form action="/search" method="get">
            <input
                class="search-box"
                id="searchBox"
                type="text"
                name="q"
                placeholder="Search (Press / to focus)"
                value="{{ query }}"
                autocomplete="off"
                {%
                if
                query
                %}
                value="{{ query }}"
                {%
                endif
                %}
            />
            <button class="search-button" type="submit">Search</button>
        </form>
    </div>
    <div class="header-section-right">
        <a class="no-link" href="/settings"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
            >
                <g
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                >
                    <path
                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066-2.573c-.94-1.543.826-3.31 2.37-2.37c1 .608 2.296.07 2.572-1.065"
                    />
                    <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0-6 0" />
                </g></svg
        ></a>
        <a class="no-link credit" href="https://github.com/yuckdevchan/firewick"
            >by ethan</a
        >
    </div>
</div>
<script>
    document.addEventListener("keydown", function (e) {
        if (e.key === "/") {
            e.preventDefault();
            document.getElementById("searchBox").focus();
        } else if (e.key === "Escape") {
            document.getElementById("searchBox").blur();
        }
    });

    document.getElementById("searchBox").addEventListener("focus", function () {
        // only if screen is less than 60em
        if (window.matchMedia("(max-width: 60em)").matches) {
            document.getElementById("searchBox").placeholder =
                "Search (Press Esc to unfocus)";
        }
    });

    document.getElementById("searchBox").addEventListener("blur", function () {
        if (window.matchMedia("(max-width: 60em)").matches) {
            document.getElementById("searchBox").placeholder =
                "Search (Press / to focus)";
        }
    });
</script>
