<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css" />
        <script src="https://unpkg.com/plyr@3"></script>
        <title>{{ branding_name }} Home</title>
    </head>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const video = document.getElementById("player");
        const audio = document.getElementById("audio");

        // Initialize Plyr
        const player = new Plyr(video);

        video.addEventListener("play", () => {
          audio.play();
        });

        video.addEventListener("pause", () => {
          audio.pause();
        });

        video.addEventListener("seeking", () => {
          audio.currentTime = video.currentTime;
        });

        video.addEventListener("seeked", () => {
          audio.currentTime = video.currentTime;
        });

        setInterval(() => {
          if (Math.abs(video.currentTime - audio.currentTime) > 0.1) {
            audio.currentTime = video.currentTime;
          }
        }, 250);

        video.addEventListener("click", () => {
          setTimeout(() => {
            if (!video.paused) {
              video.playbackRate = 2;
            }
          }, 1000);
        });
      });
    </script>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        const videoDescription = document.getElementById("videoDescription");
        videoDescription.innerHTML = videoDescription.innerHTML.replace(
            /https?:\/\/[^\s<]+/g,
            (url) => `<a href="${url}">${url}</a>`
        );
    });
    </script>
    <body>
        {% include 'header.html' %}
        <div class="video-column">
            <div class="video-container">
                <video autoplay controls id="player">
                    <source
                        id="video"
                        src="{{ video['adaptiveFormats'][-1]['url'] }}"
                        type="video/mp4"
                    />
                    <audio
                        id="audio"
                        src="{{ video['adaptiveFormats'][0]['url'] }}"
                    />
                </video>
            </div>
            <div class="under-video-box">
                <h1>{{ video["title"] }}</h1>
                <div class="video-info">
                    <p>Uploaded <b>{{ video["publishedText"] }}</b></p>
                    <p>•</p>
                    <p><b>{{ video["viewCount"] }}</b> views</p>
                    <p>•</p>
                    <p><b>{{ video["likeCount"] }}</b> likes</p>
                </div>
                <p style="font-weight: bold;">Description</p>
                <div class="video-description-box">
                    <p id="videoDescription" class="video-description">{{ video["description"]|replace("\n", "<br>")|safe }}</p>
                </div>
            </div>
        </div>
    </body>
</html>
